body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: black;
}

*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}


@keyframes textclip {
  100% {
    background-position: 200% center;
}
}
.name-effect{
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #e72a3a, blue,  #10c6bb, rgb(234, 5, 234));
    background-size: 200% auto;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
   
}
aa{
  color: #059288;
  
}
.nav_link{
  transition: all 0.5s linear;
  width: 100%;
  font-weight: 800;
 
}

.name_icon{
    color: white;
    transform: translate(50%,-40%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

h1, .text {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


@media screen and (max-width:600px) {
   .nav_link_container{
    display: none !important;

   }
   .footer_navbar{
    display: flex !important;
   }
}

@media screen and (max-width:260px) {
  .footer_navbar{
    font-size: 16px !important;
  }
}




@keyframes cursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
@keyframes typing {
  from {
    width: 100%;
  }
  90%, to {
    width: 0;
  }
}
@keyframes slide {
  33.3333333333% {
    font-size: 15px;
    letter-spacing: 3px;
  }
  to {
    font-size: 0;
    letter-spacing: 0;
  }
}
.typing-slider {
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  margin: 20px;
}

.typing-slider p {
  position: relative;
  display: inline;
  font-size: 0;
  letter-spacing: 0;
  animation: slide 15s step-start infinite;
  color: white;
}

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
 
}

.typing-slider p:nth-child(1) {
  animation-delay: 0s;
}
.typing-slider p:nth-child(1)::after {
  animation-delay: 0s;
  animation-timing-function: steps(16), step-end;
}

.typing-slider p:nth-child(2) {
  animation-delay: 5s;
}
.typing-slider p:nth-child(2)::after {
  animation-delay: 5s;
  animation-timing-function: steps(23), step-end;
}

.typing-slider p:nth-child(3) {
  animation-delay: 10s;
}
.typing-slider p:nth-child(3)::after {
  animation-delay: 10s;
  animation-timing-function: steps(12), step-end;
}

@media screen and (max-width:350px) {
  @keyframes slide {
    33.3333333333% {
      font-size: 11px;
      letter-spacing: 1px;
    }
    to {
      font-size: 0;
      letter-spacing: 0;
    }
  }
  .typing-slider {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    margin: 15px;
  }
}
@media screen and (max-width:250px) {
  .button-container{
    flex-direction: column !important;
    justify-content: center !important;
  }
}