body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: black;
}

*{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 
}


@keyframes textclip {
  100% {
    background-position: 200% center;
}
}
.name-effect{
   text-align: center;
    align-items: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #e72a3a, blue,  #10c6bb, rgb(234, 5, 234));
    background-size: 200% auto;
    text-emphasis-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 1.5s linear infinite;
   
}
aa{
  color: #059288;
  
}
.nav_link{
  transition: all 0.5s linear;
  width: 100%;
 
}

.name_icon{
    color: white;
    transform: translate(50%,-40%);
    text-transform: uppercase;
    font-family: verdana;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}